@charset "UTF-8";
@font-face{
	font-family: 'mapolice';
	src:url('fonts/nintemare.ttf');
}

@font-face{
	font-family: 'soustitrepage';
	src:url('fonts/Miana.otf');
}
	
@font-face{
	font-family: 'paragraphe';
	src:url('fonts/gothic_ultra_ot.otf');
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p
{
    font-weight:300;

}
#logo
{
    width: 8.9em;
    height: 8.9em;
}
header
{
    position: relative;
    top: 0%;
    left: 0%;
    padding: 1px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: O.5s;
}

.nom_logo2
{
    /*color: #fff;*/
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.nom_logo2 span
{
    color:#fb911f;
}
.navbar
{
    display: flex;
    position: relative;
}
.navbar li
{
    list-style: none;
}
.navbar a
{
    /*color: #fff;*/
    text-decoration: none;
    margin-left: 15px;
    font-weight: 700;
    text-shadow: #fb911f;
    text-transform: capitalize;
    background-color: indigo;
    color: white;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;

    
}
header .navbar li a:hover
{
    color: #760001;
    border-bottom: 5px solid #fb911f; 
}
.reserve
{
    padding: 10px;
    background: #fb911f;
    margin-top: -10px;
    border-radius: 20px;
    text-transform: uppercase;
}
.reserve:hover
{
    background: pink;
    transition:ease-out;
   
}

/*.baniere
{
    position: relative;
    width: 100%;
    min: height 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("imgferme/imgbaniniere.jpg");
    background-size: cover;
}*/
.baniere
{
    margin-top: 1px;
    height: 190px;
    border-radius: 5px;
    background: url("../imgferme/imgbaniniere.jpg") no-repeat;
    position:relative;
    box-shadow: 0px 10px 10px #484ad3;
    margin-bottom: 10px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.baniere .contenu
{
    max-width: 70%;
    text-align: center;
}
.baniere .contenu h2
{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2)
{
    color: #fff;
    font-size: 2em;
}
.baniere .contenu h2
{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;

}
.contenu p:nth-child(2)
{
    color: #fff;
    font-size: 1.2em;
}

.btn1
{
    font-size: 1em; 
    background:#fb911f;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 20px;
    border-radius: 50px; 
     
}
.btn1:hover
{
    background: rgb(47, 5, 116);
    transition:ease-out;
}
.btn2
{
    font-size: 1em; 
    background:#2a4963;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 20px;
    border-radius: 50px;  
}
.btn2:hover
{
    background:red;
    transition:ease-out;
}
section h1, footer h1
{
    font-family: Arial, serif;
    font-weight: normal;
    text-transform: uppercase;
}
aside
{
    display: block;
    
}
section, article
{
    display:flex; 
    text-align: justify;
    vertical-align: top;
   
}

/*aside #aligne
{
    align-content: center;
    font-size: 1.3em;
    text-align: center;
}*/

section 
{
    width: 100%;
    height: 500px;
    background-color: #fb1fb2;
}
section article
{
    width: 75%;
    height: 100%;
}

article
{
    width: 600px;
    margin-right: 25px;
    height: 500px;
}

#moi img {
    height: 150px;
    box-shadow:5px 5px 5px black, -2px -2px 2px grey;  /* Box shadow sont les effets d'ombre qui peuvent etre ombre sup, inf et total*/
    width: 150px;
    border-radius: 95%;
    
}
#moi
{
    text-align: center;
}
aside
{
    position: relative;
    width: 300px;
    height: 98%;
    background-color: #706b64;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    float:right;   
}
.texteaside
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

aside p
{
    font-size: 0.8em;
}
aside img
{
    margin-right: 1px;
    margin-top: 20px;
}
aside
{
    position: relative;
}
aside .top
{
    margin-top: 0px;
    align-content: center;
    font-size: 1em;
    text-align: center;
}
.footer {
    display: flex;
}
.footer p, ul {
    font-size: 1.1em;
}

.footer h2 {
    margin-right: 25px;
    font-size: 1.5em;
}

.Mes_photos img{
    margin-right: 2px;
}
    
.u1
{
    display: inline-block;

}
.u2
{
    display: inline-block;
}
.navbar a
{
    box-shadow: -5px -1px 8px -4px #EDFDF5;
   font-family: paragraphe;
   font-size: 2.5em;
   font-weight: bold;
}
.footer
{
    display: flex;
}
.Mes_photos
{
    margin-left: 40%;
    padding: 10px;
}
.amis
{
    
    text-align: right;
}
.mes_amis .amis .u1 .u2
{
    display: inline-block;
    text-decoration: none;
}


